@import '~@angular/material/theming';

@include mat-core();

$blue-iceberg-primary: mat-palette($mat-light-blue, 800);
$blue-iceberg-accent: mat-palette($mat-pink);
$blue-iceberg-warn: mat-palette($mat-red);

$blue-iceberg-theme: mat-light-theme($blue-iceberg-primary, $blue-iceberg-accent);
@include angular-material-theme($blue-iceberg-theme);
