<div class="auth-container">
    <div class="auth-card">
        <div class="header">
            <div class="icon">
                <i class="material-icons account_circle">
                    account_circle
                </i>
            </div>
            <div class="login-text">
                <p class="text">Login</p>
            </div>
        </div>
        <div class="body">
            <form class="form">
                <div class="main-inputs">
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Username Or Email">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </div>
                <button class="submit" type="submit" mat-flat-button>Login</button>
            </form>
        </div>
    </div>
</div>